.latestTitle{
    background-color: rgb(175,228,227);
    position: fixed;
    right:13px;
    height:50x;
    width:150px;
    padding:13px;
    text-align:center;
    font-family: Roboto;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0;
    font-size:24px;

}

.waiting{
    position: fixed;
    right:13px;
    top:68px;
    font-family: Roboto;
    font-size: 15px;
    background-color: rgb(201,240,239);
    width: 150px;
    text-align:center;
    height:50px;
    padding:13px;
    padding-top:22px;
}

.data{
    position: fixed;
    right: 13px;
    top: 83px;
    background-color: rgb(201,240,239);
    font-family: Roboto;
    width: 150px;
    padding: 13px;
    margin-top: 0;
}

body{
    background-color: rgb(238,242,243);
}

.titleHistory{
    position:fixed;
    left:123px;
    font-family:Roboto;
    background-color: rgb(175,228,227);
    width: 250px;
    font-size:24px;
    text-align:center;
    height:30px;
    padding:13px;
    border-radius: 10px 10px 0px 0px;
}

ul{
    font-family:Roboto;
    position:fixed;
    top:84px;
    left:123px;
    width:276px;
    background-color: rgb(201,240,239);
    text-align:center;
    margin:0;
    list-style-type: none;
    padding:0.2px;
    padding-bottom:7px;
    padding-top:7px;
}